<main>
    {{#each blogs}}

    <div style="margin: auto;width: 50%;padding: 10px; background-color: aliceblue;">
        <div class="list-group">
            <a href="/blog/{{this.slug}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{this.title}}</h5>
                    <small>{{this.date}}</small>
                </div>
                <p class="mb-1">{{this.author}}</p>
                <img src="{{this.image}}" alt="Article Image" class="img-fluid">
            </a>
        </div>
    </div>
    
    {{/each}}
</main>