<main class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <img src="{{image}}" class="card-img-top" alt="Blog Image">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">
                        <small class="text-muted">{{date}}</small>
                        <br>
                        <small class="text-muted">{{author}}</small>
                    </p>
                    <p class="card-text">{{content}}</p>
                </div>
            </div>
        </div>
    </div>
</main>